<a href="https://colab.research.google.com/github/w4bo/handsOnDataPipelines/blob/main/01-MachineLearning/07-Ecoli.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The `Ecoli` challenge

### Goal

It is your job to predict the `SITE` label. 

### TODO

You are allowed to use `numpy`, `pandas`, `matplotlib`, `sns`, and `sk-learn` Python libraries. You can import any model from `sk-learn`.

You are asked to fulfill the following steps; remember to write your insights on the dataset in the card below.

1. Feature pre-processing (e.g., remove useless features, impute missing values, encode some features)
2. Verify the distribution of "Outcome" values
3. Check pairwise correlations among features
4. Split training and test data. When splitting train and test datasets, the test dataset should contain 30% of the data.
5. Plot the training dataset in 2D, are the outcomes separated?
6. Train at least two ML classification models; submissions are evaluated using the accuracy score.
7. Perform hyperparameter optimization for at least one model

In [3]:
# Briefly explain *HERE* the overall steps of your solution (e.g., what did you do and why).
# Briefly write the extracted outcome/insights of each of the previous points here.

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import random
from scipy.stats import randint
import seaborn as sns
from sklearn import metrics

# SEED all random generators
seed = 42
random.seed(seed)
os.environ['PYTHONHASHSEED'] = str(seed)
np.random.seed(seed)

df = pd.read_csv("https://raw.githubusercontent.com/w4bo/2022-bbs-dm/main/notebooks/datasets/ecoli.csv")

In [5]:
df

    SEQUENCE_NAME   MCG   GVH   LIP  CHG   AAC  ALM1  ALM2 SITE
0       AAT_ECOLI  0.49  0.29  0.48  0.5  0.56  0.24  0.35   cp
1      ACEA_ECOLI  0.07  0.40  0.48  0.5  0.54  0.35  0.44   cp
2      ACEK_ECOLI  0.56  0.40  0.48  0.5  0.49  0.37  0.46   cp
3      ACKA_ECOLI  0.59  0.49  0.48  0.5  0.52  0.45  0.36   cp
4       ADI_ECOLI  0.23  0.32  0.48  0.5  0.55  0.25  0.35   cp
..            ...   ...   ...   ...  ...   ...   ...   ...  ...
331    TREA_ECOLI  0.74  0.56  0.48  0.5  0.47  0.68  0.30   pp
332    UGPB_ECOLI  0.71  0.57  0.48  0.5  0.48  0.35  0.32   pp
333    USHA_ECOLI  0.61  0.60  0.48  0.5  0.44  0.39  0.38   pp
334    XYLF_ECOLI  0.59  0.61  0.48  0.5  0.42  0.42  0.37   pp
335    YTFQ_ECOLI  0.74  0.74  0.48  0.5  0.31  0.53  0.52   pp

[336 rows x 9 columns]